nav .navbar-brand
{
     /*size for brand */
    font-size: xx-large;
}

nav .navbar-brand .red
{
    color: #ea433b;
}


main .form-control
{
     /*Center form controls */
    display: inline-block;

     /*Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
     /*Scroll horizontally as needed */
    overflow-x: auto;

     /*Center contents */
    text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;

}


main .section
{
    display: inline-block;
    /*margin-left: auto;*/
    /*margin-right: auto;*/
    width: auto;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th
{
    height:70px;
}

table, th, td {
  border: 1px solid black;
}

